{% extends 'base.html' %}

{% load static %}

{% block content %}


 <!-- Pricing Section -->
  <section id="pricing" class="pricing section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Pricing</h2>
      <p>Check Our Affordable Pricing<br></p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
      <div class="pricing-tem">
        <h3 style="color: #20c997;">Basic Plan</h3>
        <div class="price"><sup>Ksh</sup>2500<span> / mo</span></div>
        <div class="icon">
          <i class="bi bi-box" style="color: #20c997;"></i>
        </div>
        <ul>
          <li>Basic Security</li>
          <li>Limited Automation</li>
          <li>Email Support</li>
          <li class="na">No Voice Control</li>
          <li class="na">Limited Integrations</li>
        </ul>
        <a href="/payments" class="btn-buy">Get Started</a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
      <div class="pricing-tem">
        <span class="featured">Featured</span>
        <h3 style="color: #0dcaf0;">Starter Plan</h3>
        <div class="price"><sup>Ksh</sup>5000<span> / mo</span></div>
        <div class="icon">
          <i class="bi bi-send" style="color: #0dcaf0;"></i>
        </div>
        <ul>
          <li>Advanced Automation</li>
          <li>Customizable Features</li>
          <li>24/7 Email Support</li>
          <li>Integration with Smart Devices</li>
          <li class="na">Limited Priority Support</li>
        </ul>
        <a href="/payments" class="btn-buy">Get Started</a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
      <div class="pricing-tem">
        <h3 style="color: #fd7e14;">Business Plan</h3>
        <div class="price"><sup>Ksh</sup>8000<span> / mo</span></div>
        <div class="icon">
          <i class="bi bi-airplane" style="color: #fd7e14;"></i>
        </div>
        <ul>
          <li>Full Automation</li>
          <li>Voice Assistant Integration</li>
          <li>Premium Support</li>
          <li>Advanced Analytics</li>
          <li>Extended Device Integration</li>
        </ul>
        <a href="/payments" class="btn-buy">Get Started</a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
      <div class="pricing-tem">
        <h3 style="color: #0d6efd;">Ultimate Plan</h3>
        <div class="price"><sup>Ksh</sup>10000<span> / mo</span></div>
        <div class="icon">
          <i class="bi bi-rocket" style="color: #0d6efd;"></i>
        </div>
        <ul>
          <li>All Features Included</li>
          <li>Dedicated Account Manager</li>
          <li>Priority Support</li>
          <li>Custom Smart Solutions</li>
          <li>Unlimited Integrations</li>
        </ul>
        <a href="/payments" class="btn-buy">Get Started</a>
      </div>
    </div>

  </div>
</div>
</section>

{% endblock %}